<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="CT20151768383" connectionString="Data Source=ASUS\BABU; Initial Catalog=CT20151768383DB; integrated Security=True" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <!--It's used for validation-->
    <add key="ValidationSettings:unobtrusiveValidationMode" value="none"/>
  </appSettings>

</configuration>
