<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="empInfoConnectionString" connectionString="Data Source=gunnu;Initial Catalog=empInfo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="aspdbConnectionString" connectionString="Data Source=ASUS\BABU;Initial Catalog=aspdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
